body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
  display: block; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

p {
  margin: 0;
  padding: 0;
  line-height: 1.3; }

a {
  color: #000; }

a, a:focus, a:hover, a:active {
  text-decoration: none; }

a:focus, select:focus, input:focus, button:focus {
  outline: none; }

/* reset webkit search input styles */
input[type=search] {
  -webkit-appearance: none;
  outline: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none; }

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto; }

img {
  max-width: 100%;
  height: auto; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

/************************************************************************************
CUSTOMIZE BOOSTRAP
*************************************************************************************/
.row {
  margin-right: -8px;
  margin-left: -8px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 8px;
  padding-left: 8px; }

.container {
  padding-right: 8px;
  padding-left: 8px; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  color: #000;
  padding: 0;
  margin: 0; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 13px; }

header {
  background: #232f3e;
  height: 92px;
  border-bottom: 2px solid #7dad23; }
  header .form {
    padding-top: 10px; }
    header .form input {
      border-radius: 0;
      border: 0;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      outline: none;
      display: table-cell; }
    header .form .form-control:focus {
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      outline: none; }
    header .form .form-submit {
      width: 40px;
      height: 40px;
      background: #ff0000;
      display: inline-block; }
    header .form span.input-group-btn .btn.btn-default {
      background: #ff0000;
      border-color: #ff0000;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      outline: none;
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      color: #FFF;
      text-transform: uppercase;
      font-weight: bold; }
    header .form div.input-group-btn .btn-default {
      background: #c3c3c3;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      outline: none; }
  header .shoppingcart {
    color: #FFF;
    text-align: right;
    padding-top: 25px;
    position: relative; }
    header .shoppingcart span {
      font-size: 32px;
      position: relative; }
      header .shoppingcart span .shoping-number {
        background: red;
        padding: 0px 10px;
        position: absolute;
        display: inline-block;
        top: -17px;
        left: 13px;
        font-size: 12px;
        border-radius: 3px; }
        header .shoppingcart span .shoping-number:before {
          content: " ";
          width: 0;
          height: 0;
          border-top: 5px solid red;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          position: absolute;
          bottom: -5px;
          left: 2px; }
    header .shoppingcart a {
      color: #FFF; }
  header .menu-news ul li {
    display: inline-block; }
    header .menu-news ul li a {
      padding: 5px 15px 5px 0;
      color: #FFF; }
      header .menu-news ul li a:hover {
        color: #7dad23; }
    header .menu-news ul li:last-child a {
      color: red; }

#menu h2 {
  text-transform: uppercase;
  background: #7dad23;
  font-size: 18px;
  color: #FFF;
  height: 40px;
  line-height: 40px;
  padding-left: 10px; }
  #menu h2 i {
    font-size: 21px; }

ul.menu-left {
  border: 1px solid #DDD;
  position: relative; }
  ul.menu-left li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #DDD; }
    ul.menu-left li a {
      display: block;
      position: relative; }
      ul.menu-left li a span.icon {
        color: #232f3e;
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px; }
    ul.menu-left li .menu-item {
      display: none; }
    ul.menu-left li:hover {
      background: #ff6600; }
      ul.menu-left li:hover a {
        color: #FFF; }
        ul.menu-left li:hover a:after {
          content: " ";
          width: 0;
          height: 0;
          border-left: 16px solid #ff6600;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          position: absolute;
          right: -16px;
          top: 0;
          z-index: 999; }
      ul.menu-left li:hover .menu-item {
        width: 880px;
        height: 402px;
        border: 1px solid #ff6600;
        position: absolute;
        left: 100%;
        top: -41px;
        display: block;
        z-index: 9;
        background: #FFF; }
        ul.menu-left li:hover .menu-item .list-cate {
          width: 65%;
          float: left;
          padding: 20px 10px 20px 30px; }
          ul.menu-left li:hover .menu-item .list-cate .list-item {
            width: 33.3333333333%;
            float: left;
            padding-right: 10px;
            box-sizing: border-box;
            min-height: 1px; }
            ul.menu-left li:hover .menu-item .list-cate .list-item h4 a {
              color: #ff6600; }
              ul.menu-left li:hover .menu-item .list-cate .list-item h4 a:after {
                border: none; }
            ul.menu-left li:hover .menu-item .list-cate .list-item ul {
              border: none;
              display: block; }
              ul.menu-left li:hover .menu-item .list-cate .list-item ul li {
                border-bottom: none;
                height: 30px;
                line-height: 30px; }
                ul.menu-left li:hover .menu-item .list-cate .list-item ul li a {
                  color: #000;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis; }
                  ul.menu-left li:hover .menu-item .list-cate .list-item ul li a:after {
                    border: none; }
                  ul.menu-left li:hover .menu-item .list-cate .list-item ul li a:hover {
                    color: #7dad23; }
                ul.menu-left li:hover .menu-item .list-cate .list-item ul li:hover {
                  background: none; }
        ul.menu-left li:hover .menu-item .list-ads {
          width: 35%;
          float: left;
          padding: 20px 10px 10px 15px;
          text-align: right; }
          ul.menu-left li:hover .menu-item .list-ads a:after {
            border: 0; }
    ul.menu-left li:last-child {
      border-bottom: none; }

.slider-home {
  margin-top: 16px;
  position: relative;
  height: 386px;
  overflow: hidden; }

.list-category ul li .item {
  position: relative;
  border: 1px solid #DDD;
  margin-bottom: 16px; }
  .list-category ul li .item a.full-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9; }
  .list-category ul li .item .image {
    position: relative;
    height: 273px;
    overflow: hidden; }
    .list-category ul li .item .image img {
      /*height: 275px;*/ }
    .list-category ul li .item .image span {
      position: absolute;
      top: 5px;
      left: 5px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: red;
      color: #FFF; }
    .list-category ul li .item .image a {
      position: absolute;
      top: 0;
      display: none;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 80px;
      height: 30px;
      background: #7dad23;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      color: #FFF;
      text-align: center;
      line-height: 30px; }
  .list-category ul li .item .title {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px; }
    .list-category ul li .item .title p {
      height: 40px;
      line-height: 20px;
      border-bottom: 1px solid #DDD;
      overflow: hidden; }
  .list-category ul li .item .custom-field {
    height: 60px;
    line-height: 20px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px; }
    .list-category ul li .item .custom-field p {
      line-height: 20px; }
  .list-category ul li .item .price {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    height: 45px;
    overflow: hidden;
    position: relative;
    font-size: 20px;
    color: red;
    font-weight: bold; }
    .list-category ul li .item .price p.cost {
      font-size: 20px;
      color: red;
      font-weight: bold; }
      .list-category ul li .item .price p.cost span {
        position: relative;
        top: -7px;
        font-size: 14px; }
    .list-category ul li .item .price p.old {
      text-decoration: line-through;
      color: #878787;
      width: 100%;
      font-size: 14px;
      font-weight: normal; }
      .list-category ul li .item .price p.old var {
        font-style: normal; }
      .list-category ul li .item .price p.old span {
        float: right; }
    .list-category ul li .item .price div.views,
    .list-category ul li .item .price p.views {
      position: absolute;
      right: 10px;
      bottom: 5px;
      font-size: 14px;
      font-weight: normal;
      color: #000; }
.list-category ul li:hover .item {
  border-color: #7dad23; }
  .list-category ul li:hover .item .image a {
    display: block; }
.list-category ul li:hover .hot-countdown {
  display: block; }

.page-home-title {
  border-bottom: 2px solid #7dad23;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #f5f5f5;
  float: left;
  width: 100%; }
  .page-home-title .page-title {
    display: inline-block;
    float: left; }
    .page-home-title .page-title h2 {
      text-transform: uppercase;
      color: #FFF;
      background: #7dad23;
      padding: 10px 15px;
      display: inline-block;
      font-size: 16px; }
  .page-home-title a.all {
    padding: 10px; }
    .page-home-title a.all:hover {
      color: #7dad23; }
  .page-home-title .tabs-home {
    display: inline-block;
    float: left; }
    .page-home-title .tabs-home ul {
      margin: 0;
      padding: 0;
      border: none; }
      .page-home-title .tabs-home ul li {
        margin-bottom: 0;
        border: none; }
        .page-home-title .tabs-home ul li a {
          border-radius: 0;
          border: none;
          cursor: pointer;
          text-transform: uppercase; }
          .page-home-title .tabs-home ul li a:focus, .page-home-title .tabs-home ul li a:hover {
            background: transparent;
            border: none; }
      .page-home-title .tabs-home ul li.home-tabs-default {
        height: 40px;
        line-height: 40px; }
        .page-home-title .tabs-home ul li.home-tabs-default a {
          background: #7dad23;
          color: #FFF;
          padding: 0 15px;
          height: 40px;
          line-height: 40px; }
          .page-home-title .tabs-home ul li.home-tabs-default a span {
            font-size: 20px;
            position: relative;
            top: 3px;
            padding-right: 5px; }
      .page-home-title .tabs-home ul li.active {
        border: none; }
        .page-home-title .tabs-home ul li.active a {
          border: none; }
          .page-home-title .tabs-home ul li.active a:focus, .page-home-title .tabs-home ul li.active a:hover {
            border: none; }
      .page-home-title .tabs-home ul li.tab-list:hover a {
        /*background: $color-default;*/
        position: relative;
        color: #7dad23; }
        .page-home-title .tabs-home ul li.tab-list:hover a:before {
          content: " ";
          border-bottom: 8px solid #7dad23;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          position: absolute;
          left: 47%;
          bottom: 0; }
      .page-home-title .tabs-home ul li.tab-list.active a:before {
        content: " ";
        border-bottom: 8px solid #7dad23;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        left: 47%;
        bottom: 0; }

.header-sroll {
  height: 50px;
  position: absolute;
  width: 100%;
  top: -200px; }
  .header-sroll h2 {
    color: #FFF;
    height: 50px;
    line-height: 50px;
    background: #7DAD23;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 16px; }
    .header-sroll h2 i {
      font-size: 25px;
      position: relative;
      top: 3px; }
  .header-sroll .form {
    padding-top: 5px; }
  .header-sroll .shoppingcart {
    padding-top: 17px; }
    .header-sroll .shoppingcart span {
      font-size: 24px; }

.menu-scroll {
  position: fixed;
  top: 50px;
  left: 0;
  opacity: .7;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none; }

.header-sroll ul.menu-left {
  background: #FFF; }
  .header-sroll ul.menu-left li:hover .menu-item {
    top: -1px;
    height: 362px; }
    .header-sroll ul.menu-left li:hover .menu-item img {
      max-height: 340px; }

.header-navigation ul.menu-left {
  z-index: 999;
  display: none; }
.header-navigation h2 {
  cursor: pointer; }
.header-navigation:hover ul.menu-left {
  display: block; }

.fix {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  transition: top 0.5s ease; }

.hentry header.entry-header {
  background: #FFF;
  border-bottom: 2px solid #e24545;
  height: auto;
  margin-top: 30px;
  margin-bottom: 10px; }
  .hentry header.entry-header h1 {
    font-size: 16px;
    display: inline-block;
    border-bottom: 2px solid #7dad23;
    position: relative;
    bottom: -2px;
    padding-bottom: 4px;
    width: 100%; }

.cart-empty {
  min-height: 200px;
  line-height: 200px;
  font-size: 22px;
  text-align: center;
  color: #DDD; }

.return-to-shop {
  text-align: right;
  margin: 15px 0; }
  .return-to-shop a {
    background: none;
    color: #000; }
    .return-to-shop a:hover {
      background: none;
      color: #000; }

.entry-content table.cart {
  border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  width: 100%;
  border: 1px solid #DDD;
  margin-top: 15px; }
  .entry-content table.cart thead {
    background: #f5f5f5;
    text-indent: 0; }
    .entry-content table.cart thead th {
      padding: 10px 0; }
    .entry-content table.cart thead .product-thumbnail {
      display: block; }
  .entry-content table.cart tbody .product-thumbnail {
    display: block; }
    .entry-content table.cart tbody .product-thumbnail img {
      max-width: 100px; }
  .entry-content table.cart tbody tr {
    border-top: 1px solid #DDD; }
    .entry-content table.cart tbody tr .coupon #coupon_code {
      height: 40px;
      border: 1px solid #232f3e;
      float: left; }
    .entry-content table.cart tbody tr .coupon .button {
      height: 40px;
      padding: 0 5px;
      border: none; }
    .entry-content table.cart tbody tr .button[name='update_cart'] {
      background: #232f3e;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      height: 40px;
      text-align: center;
      padding: 0 30px; }

.cart-collaterals .cart_totals h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 3px solid #e24545;
  padding-bottom: 5px; }
.cart-collaterals .cart_totals table {
  width: 100%; }
  .cart-collaterals .cart_totals table tr {
    height: 60px;
    border-bottom: 1px solid #f5f5f5; }
.cart-collaterals .cart_totals .wc-proceed-to-checkout {
  text-align: right; }
  .cart-collaterals .cart_totals .wc-proceed-to-checkout a {
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background: #e24545;
    padding: 10px 30px;
    margin-top: 15px; }

.entry-content {
  background: #FFF;
  margin-bottom: 15px; }
  .entry-content #order_review_heading {
    background: #f5f5f5;
    border-top: 1px solid DDD;
    border-right: 1px solid DDD;
    border-bottom: 1px solid DDD; }
  .entry-content #order_review_heading,
  .entry-content #order_review {
    padding: 10px;
    border: 1px solid #DDD;
    background: #FFF;
    float: left; }
  .entry-content #order_review .shop_table {
    width: 100%; }
    .entry-content #order_review .shop_table tbody tr {
      border-top: 1px solid #DDD; }
      .entry-content #order_review .shop_table tbody tr td {
        padding: 10px 0; }
      .entry-content #order_review .shop_table tbody tr .product-total {
        text-align: right; }
    .entry-content #order_review .shop_table thead .product-total {
      width: 50%;
      text-align: right; }
    .entry-content #order_review .shop_table tfoot tr {
      border-top: 1px solid #DDD; }
      .entry-content #order_review .shop_table tfoot tr th {
        padding: 10px; }
    .entry-content #order_review .shop_table tfoot tr.cart-discount {
      text-align: right; }
    .entry-content #order_review .shop_table tfoot tr.order-total {
      color: #ff0000; }
    .entry-content #order_review .shop_table tfoot tr.order-total td,
    .entry-content #order_review .shop_table tfoot tr.cart-subtotal td {
      text-align: right; }
    .entry-content #order_review .shop_table tfoot tr.shipping td {
      padding: 5px 0; }
  .entry-content #order_review #place_order {
    background: #e24545;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }

#customer_details .col-1 {
  float: left;
  border: 1px solid #DDD;
  width: 100%; }
  #customer_details .col-1 h3 {
    background: #f5f5f5;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #DDD; }
  #customer_details .col-1 p {
    padding: 10px; }
    #customer_details .col-1 p input {
      height: 40px; }
    #customer_details .col-1 p input[name='createaccount'] {
      height: auto; }
  #customer_details .col-1 .select2-container {
    width: 50% !important; }
  #customer_details .col-1 .country_select {
    height: 35px;
    line-height: 35px; }
#customer_details .col-2 {
  float: left;
  width: 100%; }
  #customer_details .col-2 h3 {
    border-bottom: 2px solid #DDD;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  #customer_details .col-2 #order_comments {
    height: 200px; }
  #customer_details .col-2 .shipping_address p input {
    height: 40px; }
  #customer_details .col-2 .shipping_address .select2-container {
    width: 50% !important; }
  #customer_details .col-2 .shipping_address .country_select {
    height: 35px;
    line-height: 35px; }

.checkout_coupon {
  width: 100%;
  float: left; }
  .checkout_coupon .form-row-first {
    margin-right: 0; }
  .checkout_coupon input[name='coupon_code'] {
    height: 35px; }
  .checkout_coupon .form-row-last {
    float: left; }
  .checkout_coupon input[name='apply_coupon'] {
    height: 35px;
    border: none;
    float: left;
    padding: 0 10px; }

.form-row.woocommerce-invalid input.input-text,
.form-row.woocommerce-validated input.input-text {
  box-shadow: none !important;
  border-color: #e24545; }

.col2-set {
  width: 54.9411764706% !important;
  margin-right: 3.8823529412% !important; }

.form-row {
  margin-bottom: 15px; }

#ship-to-different-address .checkbox {
  display: inline-block; }

.type-page.status-publish.hentry .woocommerce table {
  width: 100%; }
.type-page.status-publish.hentry .woocommerce h2 {
  border-bottom: 2px solid #7dad23;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  padding-bottom: 5px; }
.type-page.status-publish.hentry .woocommerce .shop_table.order_details thead th {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #f5f5f5; }
.type-page.status-publish.hentry .woocommerce .shop_table.order_details tbody .order_item {
  border-bottom: 1px solid #f5f5f5;
  height: 30px;
  line-height: 30px; }
.type-page.status-publish.hentry .woocommerce .shop_table.order_details tfoot td,
.type-page.status-publish.hentry .woocommerce .shop_table.order_details tfoot th {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #f5f5f5; }
.type-page.status-publish.hentry header {
  height: auto;
  background: transparent;
  border-bottom: none; }
.type-page.status-publish.hentry header.title h3 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 2px solid #7dad23;
  margin-top: 15px; }
.type-page.status-publish.hentry .shop_table.customer_details {
  width: 100%; }
  .type-page.status-publish.hentry .shop_table.customer_details tr {
    border-bottom: 1px solid #f5f5f5; }
    .type-page.status-publish.hentry .shop_table.customer_details tr td {
      height: 30px; }

.status-publish ul.woocommerce-thankyou-order-details .order strong {
  color: #ff0000; }
.status-publish table thead .product-total {
  color: #ff0000; }
.status-publish table tfoot tr:last-child td {
  font-weight: bold;
  color: #ff0000; }

.order-print {
  text-align: right; }
  .order-print a {
    padding: 5px 10px;
    background: #F00;
    border-radius: 3px; }

.woocommerce-variation-price ins {
  font-size: 24px;
  color: red;
  font-weight: bold;
  text-decoration: none; }
.woocommerce-variation-price del {
  color: #B9B9B9; }

.list-category h2,
.list-category h1 {
  border-bottom: 2px solid #7dad23;
  font-size: 16px;
  padding-bottom: 5px;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 15px; }

.emty-data {
  text-align: center;
  color: #DDD;
  line-height: 100px; }

.owl-carousel-item-imgoverlay {
  display: none; }

.slider-home .owl-controls {
  position: absolute;
  bottom: 0;
  right: 0; }

.free-shipping td {
  padding: 5px;
  background: #7dad23;
  color: #FFF; }

.hot-category li.product .ob_wrapper .ob_discount {
  display: none; }
.hot-category li.product .ob_wrapper span {
  display: none; }
.hot-category .hot-countdown {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: #f5f5f5;
  display: none; }
  .hot-category .hot-countdown .ob_shortcode.woocommerce ul.products li.product {
    margin: 0; }
    .hot-category .hot-countdown .ob_shortcode.woocommerce ul.products li.product .counter-group {
      margin: 0; }
    .hot-category .hot-countdown .ob_shortcode.woocommerce ul.products li.product .shortcode_products .product {
      margin: 0; }
  .hot-category .hot-countdown .ob_wrapper {
    padding: 5px 0 0 0; }

.page-title .pull-right {
  font-style: normal;
  font-weight: normal; }

.detail-content-popup .modal-dialog {
  margin-top: 60px; }
.detail-content-popup .modal-content .custom-field-popup {
  padding-bottom: 5px;
  border-bottom: 1px solid #DDD; }
.detail-content-popup .modal-content .custom-field-popup {
  color: red;
  font-size: 16px; }

.loading {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 99;
  padding-top: 50px;
  text-align: center;
  display: none; }

.list-silver h2 {
  font-weight: normal;
  font-size: 14px; }

.footer-page a:hover {
  color: #7dad23; }

.admin-bar .woocommerce-checkout .payment-fixed {
  margin-left: 0 !important;
  top: auto !important;
  width: 41.1764705882% !important;
  position: relative !important; }

.filter-category {
  background: #f5f5f5;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  padding: 5px; }
  .filter-category h3 {
    font-size: 16px;
    font-weight: bold; }
  .filter-category ul {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 5px; }
    .filter-category ul li span {
      font-weight: normal; }

.detail-page h1 {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 5px;
  margin-bottom: 10px; }
.detail-page .price-detail {
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 10px;
  padding-top: 10px; }
  .detail-page .price-detail div {
    display: inline-block;
    font-size: 28px;
    color: red;
    font-weight: bold; }
  .detail-page .price-detail p.cost {
    font-size: 28px;
    color: red;
    font-weight: bold; }
    .detail-page .price-detail p.cost var {
      font-size: 22px;
      font-weight: normal;
      font-style: normal;
      position: relative;
      top: -15px; }
  .detail-page .price-detail p.old {
    font-size: 18px;
    display: inline-block;
    text-decoration: line-through;
    color: #8C8787;
    font-weight: normal; }
  .detail-page .price-detail p.sale {
    display: inline-block;
    vertical-align: top;
    position: relative; }
    .detail-page .price-detail p.sale span {
      background: red;
      color: #FFF;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      padding: 3px 15px;
      text-align: center;
      font-weight: normal;
      font-size: 18px;
      position: relative;
      margin-left: 10px;
      top: 4px; }
      .detail-page .price-detail p.sale span:before {
        content: " ";
        border-right: 12px solid red;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        position: absolute;
        left: -10px;
        top: 6px; }
.detail-page .description {
  padding: 10px 0;
  text-align: justify; }
.detail-page .item-list-option {
  padding: 10px 0;
  border-bottom: 1px solid #F1F1F1;
  display: inline-block;
  width: 100%; }
  .detail-page .item-list-option .list-op {
    width: 49%;
    margin-right: 1%;
    float: left; }
  .detail-page .item-list-option .label {
    color: #000;
    font-size: 14px;
    padding: 0;
    display: inline-block; }
  .detail-page .item-list-option .form-control {
    width: 170px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    display: inline-block;
    float: left; }
  .detail-page .item-list-option a {
    float: left; }
.detail-page .quantity {
  padding-bottom: 10px;
  padding-top: 10px; }
  .detail-page .quantity input {
    width: 100px;
    height: 30px;
    max-width: 100%; }
.detail-page .single_add_to_cart_button {
  background: #7dad23;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; }
  .detail-page .single_add_to_cart_button:hover {
    background: #86B72B; }
.detail-page .single_variation_wrap {
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 10px; }
.detail-page .share-post {
  padding: 10px 0;
  border-bottom: 1px solid #F1F1F1; }

.related h2 {
  border-bottom: 3px solid #ff0000;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px; }

.title-detail-content {
  border-bottom: 3px solid #7dad23; }
  .title-detail-content h4,
  .title-detail-content h3 {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px; }
  .title-detail-content h3:before {
    content: " ";
    position: absolute;
    border-bottom: 5px solid #7dad23;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 50%;
    bottom: 0; }
  .title-detail-content h4 {
    margin-left: 30px; }

.page-single-content {
  margin-top: 30px;
  margin-bottom: 15px; }
  .page-single-content img {
    max-width: 100%; }
  .page-single-content table {
    max-width: 100%; }
  .page-single-content iframe {
    max-width: 100%; }

.content-single {
  padding: 15px 0; }

.breadcrumb-detail {
  border-bottom: 2px solid #7dad23;
  margin: 15px 0; }

.views-detail {
  cursor: pointer;
  font-style: italic;
  display: inline-block; }

.page-single-content .nav-tabs {
  border-bottom: 2px solid #7dad23; }
  .page-single-content .nav-tabs li.active,
  .page-single-content .nav-tabs li {
    margin-bottom: 0; }
    .page-single-content .nav-tabs li.active a,
    .page-single-content .nav-tabs li a {
      border: none;
      border-radius: 0;
      font-weight: bold;
      position: relative;
      padding: 10px 15px 10px 0; }
      .page-single-content .nav-tabs li.active a:hover, .page-single-content .nav-tabs li.active a:focus, .page-single-content .nav-tabs li.active a:active,
      .page-single-content .nav-tabs li a:hover,
      .page-single-content .nav-tabs li a:focus,
      .page-single-content .nav-tabs li a:active {
        border: none;
        border-radius: 0;
        background: transparent; }
  .page-single-content .nav-tabs li.active a:before {
    content: " ";
    position: absolute;
    border-bottom: 5px solid #7dad23;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 50%;
    bottom: 0; }

.tab-content .tab-pane {
  margin-top: 15px; }

.elevatezoom-gallery {
  border: 1px solid #DDD;
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer; }

.elevatezoom-gallery.active {
  border-color: #7dad23; }

div.images {
  position: relative;
  margin-top: 25px; }

.view-zoom {
  text-align: center;
  font-size: 12px;
  color: #777; }

#gallery_01 {
  height: 395px;
  overflow: hidden;
  position: relative;
  width: 65px;
  padding: 25px 0; }
  #gallery_01 .controls {
    position: absolute;
    z-index: 9;
    width: 65px;
    display: inline-block;
    top: 0; }
    #gallery_01 .controls a {
      display: inline-block;
      width: 65px;
      cursor: pointer; }
    #gallery_01 .controls a.nextPage.disabled,
    #gallery_01 .controls a.prevPage.disabled {
      visibility: hidden; }
  #gallery_01 .bottom-control {
    bottom: 0;
    top: auto; }

.trademark {
  margin-bottom: 5px; }
  .trademark a {
    color: #7dad23; }

.frame {
  width: 65px;
  height: 346px;
  /*	overflow: hidden;
    display: block;*/ }
  .frame .slidee {
    padding: 20px 25px;
    background: #fff; }
    .frame .slidee ul.items {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      font-size: 24px;
      line-height: 100px; }
      .frame .slidee ul.items li {
        float: left;
        width: 100%;
        height: 100px;
        margin: 0 0 1px;
        padding: 0;
        background: #333;
        color: #ddd;
        text-align: center;
        cursor: pointer; }
      .frame .slidee ul.items li.active {
        color: #fff;
        background: #a03232; }

/* Scrollbar */
.scrollbar {
  position: absolute;
  right: 10px;
  width: 2px;
  height: 600px;
  background: #ccc;
  line-height: 0; }

.scrollbar .handle {
  width: 100%;
  height: 100px;
  background: #292a33;
  cursor: pointer; }

.scrollbar .handle .mousearea {
  position: absolute;
  top: 0;
  left: -10px;
  width: 22px;
  height: 100%; }

/* Controls */
.controls {
  margin: 0 0;
  text-align: center;
  font-size: 18px; }

.interest .list-category {
  padding: 0 15px 0 30px;
  position: relative; }
  .interest .list-category li {
    width: 100%; }
  .interest .list-category .owl-buttons div {
    position: absolute;
    top: 40%; }
  .interest .list-category .owl-buttons div.owl-prev {
    left: -30px; }
  .interest .list-category .owl-buttons div.owl-next {
    right: -30px; }

.title-interest {
  border-bottom: 2px solid #7dad23;
  padding-bottom: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px; }

a.remove {
  font-size: 20px; }

.countdown .woocommerce-tabs {
  margin: 0;
  padding: 0;
  border: none; }
.countdown .counter-group {
  margin: 5px 0; }

/*@import "layout/login";
@import "layout/masterpage";
@import "layout/details";
@import "layout/user";
@import "layout/search";
@import "layout/contact";
@import "layout/about";*/
footer .footer-top {
  background: #7dad23;
  padding: 30px 0; }
  footer .footer-top .icon-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FFF;
    float: left; }
  footer .footer-top .icon-text {
    float: left;
    padding-top: 20px;
    padding-left: 10px; }
    footer .footer-top .icon-text h2 {
      font-size: 16px;
      color: #FFF; }
    footer .footer-top .icon-text p {
      font-size: 18px;
      text-transform: uppercase;
      color: #FFF;
      padding-top: 5px; }
footer .footer-page h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px; }
footer .footer-page ul {
  line-height: 22px; }
  footer .footer-page ul li a:hover {
    color: #7dad23; }
footer .footer-page ul.connect li {
  display: inline-block; }
  footer .footer-page ul.connect li a {
    font-size: 40px;
    padding-right: 10px; }
footer .coppyright {
  background: #f5f5f5;
  border-top: 1px solid #DDD;
  margin-top: 15px; }
  footer .coppyright p {
    text-align: center;
    padding: 10px; }

.support {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #e41111;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #FFF;
  padding: 10px 15px; }
  .support p span {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    position: relative;
    top: 3px; }

.btn-base, .btn-user {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s; }

.btn-base {
  color: #fff;
  background-color: #2a255c; }
  .btn-base:hover {
    background-color: #e30513; }

.btn-user {
  color: #fff;
  background-color: #e30513; }
  .btn-user:hover {
    background-color: #000; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer .footer-top div.col-sm-3 {
    text-align: center; }
  footer .footer-top .icon-text {
    float: none; }
  footer .footer-top .icon-logo {
    float: none;
    display: inline-block; }

  ul.menu-left li:hover .menu-item {
    width: 563px; }
    ul.menu-left li:hover .menu-item .list-cate {
      width: 100%; }

  ul.menu-left li {
    height: 30px;
    line-height: 30px; }
    ul.menu-left li a span.icon {
      font-size: 13px; }

  ul.menu-left li:hover a:after {
    border-left: 16px solid #ff6600;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; }

  ul.menu-left li:hover .menu-item {
    height: 340px;
    top: -31px; }
    ul.menu-left li:hover .menu-item .list-cate {
      padding: 10px 10px 10px 30px; }
      ul.menu-left li:hover .menu-item .list-cate .list-item ul li {
        height: 25px;
        line-height: 25px; }
  ul.menu-left li:hover .menu-item.item-tablet {
    height: 302px; }
    ul.menu-left li:hover .menu-item.item-tablet .list-cate {
      width: 70%; }
      ul.menu-left li:hover .menu-item.item-tablet .list-cate .list-item {
        width: 50%; }
    ul.menu-left li:hover .menu-item.item-tablet .list-ads {
      width: 30%; }

  #menu h2 {
    font-size: 14px;
    height: 30px;
    line-height: 30px; }

  .list-category ul li .item .image {
    height: 227px; }

  .slider-home {
    height: 245px; } }
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  ul.menu-left li:hover .menu-item {
    width: 728px; }
    ul.menu-left li:hover .menu-item .list-cate {
      width: 100%; }

  ul.menu-left li {
    height: 33px;
    line-height: 33px; }
    ul.menu-left li a span.icon {
      font-size: 15px; }

  #menu h2 {
    height: 36px;
    line-height: 36px; }

  .list-category ul li .item .image {
    height: 225px; }

  .slider-home {
    height: 320px; }

  ul.menu-left li:hover .menu-item {
    height: 335px;
    top: -37px; }
    ul.menu-left li:hover .menu-item .list-cate {
      padding: 10px 10px 10px 30px; }
      ul.menu-left li:hover .menu-item .list-cate .list-item ul li {
        height: 25px;
        line-height: 25px; }
  ul.menu-left li:hover .menu-item.item-tablet {
    height: 335px; }
    ul.menu-left li:hover .menu-item.item-tablet .list-cate {
      width: 70%; }
      ul.menu-left li:hover .menu-item.item-tablet .list-cate .list-item {
        width: 50%; }
    ul.menu-left li:hover .menu-item.item-tablet .list-ads {
      width: 30%; } }
@media (max-width: 767px) {
  .header-for-mobile {
    background: #232f3e; }
    .header-for-mobile .shoppingcart {
      color: #FFF;
      text-align: center;
      padding-top: 20px; }
      .header-for-mobile .shoppingcart a {
        color: #FFF; }
      .header-for-mobile .shoppingcart span {
        position: relative;
        font-size: 22px; }
        .header-for-mobile .shoppingcart span var {
          background: red;
          padding: 0px 10px;
          position: absolute;
          display: inline-block;
          top: -17px;
          left: 13px;
          font-size: 12px;
          border-radius: 3px; }
          .header-for-mobile .shoppingcart span var:before {
            content: " ";
            width: 0;
            height: 0;
            border-top: 5px solid red;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            position: absolute;
            bottom: -5px;
            left: 2px; }

  .mobile-list {
    text-align: right;
    padding-top: 10px; }
    .mobile-list i {
      color: #FFF;
      font-size: 35px; }

  .menu-mobile {
    border-top: 1px solid #52657D; }
    .menu-mobile .form-search-pc {
      padding-bottom: 5px;
      padding-top: 5px; }
      .menu-mobile .form-search-pc .btn-default {
        background: #c3c3c3;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        outline: none; }
    .menu-mobile span.input-group-btn .btn.btn-default {
      background: #ff0000;
      border-color: #ff0000;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      outline: none;
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      color: #FFF;
      text-transform: uppercase;
      font-weight: bold; }
      .menu-mobile span.input-group-btn .btn.btn-default i {
        font-size: 14px; }

  .page-home-title a.all {
    font-size: 12px; }
  .page-home-title .tabs-home ul li a {
    font-size: 9px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px; }
  .page-home-title .tabs-home ul li.home-tabs-default a {
    font-size: 9px;
    padding: 0 5px; }

  footer .footer-top {
    padding: 15px 0; }
    footer .footer-top .col-xs-6 {
      text-align: center;
      margin-bottom: 15px; }
      footer .footer-top .col-xs-6 .icon-text,
      footer .footer-top .col-xs-6 .icon-logo {
        float: none;
        display: inline-block;
        padding-top: 5px; }

  .menu-mobile-cat {
    width: 250px;
    float: left;
    background: #f2f2f2;
    height: 100%;
    position: fixed;
    z-index: 9999;
    -webkit-transition: margin-left 0.35s ease;
    -moz-transition: margin-left 0.35s ease;
    -o-transition: margin-left 0.35s ease;
    -ms-transition: margin-left 0.35s ease;
    transition: margin-left 0.35s ease;
    margin-left: -250px;
    display: block;
    top: 0; }
    .menu-mobile-cat h2 {
      background: #7dad23;
      color: #FFF;
      text-transform: uppercase;
      height: 40px;
      line-height: 40px;
      padding: 0 5px;
      font-size: 18px; }
      .menu-mobile-cat h2 i {
        font-size: 25px;
        position: relative;
        top: 2px; }

  .menu-mobile-cat.site-page-frame {
    margin-left: 0; }

  .menu-sp-left ul li {
    display: inline-block;
    width: 100%; }
    .menu-sp-left ul li a {
      display: inline-block;
      padding: 5px;
      width: 100%;
      border-bottom: 1px solid #DDD; }
    .menu-sp-left ul li ul li a {
      padding-left: 15px; }
    .menu-sp-left ul li ul li ul li a {
      padding-left: 30px; }

  .wmp {
    width: 100%;
    position: relative;
    margin-left: 0;
    -webkit-transition: margin-left 0.35s ease;
    -moz-transition: margin-left 0.35s ease;
    -o-transition: margin-left 0.35s ease;
    -ms-transition: margin-left 0.35s ease;
    transition: margin-left 0.35s ease; }

  .page-frame {
    margin-left: 250px !important;
    -webkit-transition: margin-left 0.35s ease;
    -moz-transition: margin-left 0.35s ease;
    -o-transition: margin-left 0.35s ease;
    -ms-transition: margin-left 0.35s ease;
    transition: margin-left 0.35s ease; }

  .wmp #side-menu-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5); }

  .wmp #side-menu-overlay.on {
    display: block; }

  .menu-mobile-cat .close-menu {
    float: right; }
    .menu-mobile-cat .close-menu i {
      font-size: 16px; }

  .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #7dad23; }

  .slider-home {
    height: auto; }

  .list-category ul li .item .image img {
    height: auto; }

  .emty-data {
    font-size: 18px; }

  table.cart .quantity .qty {
    width: 80px;
    max-width: 100%; }

  .col2-set {
    width: 100% !important;
    margin-right: 0 !important;
    float: left; }

  .entry-content #order_review_heading {
    border: none;
    display: block;
    width: 100%;
    float: left;
    margin-top: 30px; }

  .entry-content #order_review_heading {
    padding: 10px 10px 10px 0; }

  #customer_details .col-2 h3 {
    margin-top: 15px; }

  .woocommerce-thankyou-order-details.order_details li {
    width: 50%;
    border-right: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1); }
    .woocommerce-thankyou-order-details.order_details li:nth-child(1), .woocommerce-thankyou-order-details.order_details li:nth-child(2) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .woocommerce-thankyou-order-details.order_details li:nth-child(1), .woocommerce-thankyou-order-details.order_details li:nth-child(3) {
      border-left: none; }

  #gallery_01 {
    width: auto; }
    #gallery_01 .frame {
      width: auto; } }
@media (min-width: 481px) and (max-width: 767px) {
  .page-home-title a.all {
    font-size: 14px; }
  .page-home-title .tabs-home ul li.home-tabs-default a {
    font-size: 14px; }
  .page-home-title .tabs-home ul li a {
    font-size: 14px; } }
@media (max-width: 480px) {
  .list-category ul li .item .image {
    height: 189px; }

  .slider-home {
    height: 162px; } }
@media (max-width: 320px) {
  .page-home-title .tabs-home ul li a {
    padding: 0 3px; }

  .list-category ul li .item .image {
    height: 142px; }

  .slider-home {
    height: 136px; }

  .page-single-content .nav-tabs li.active a, .page-single-content .nav-tabs li a {
    font-size: 10px; } }

/*# sourceMappingURL=main.css.map */
