.page-home-title {
  a.all{
    font-size: 14px;
  }
  .tabs-home {
    ul {
      li.home-tabs-default{
        a{
          font-size: 14px;
        }
      }
      li {
        a{
          font-size: 14px;
        }
      }
    }
  }
}