.page-home-title {
  .tabs-home {
    ul {
      li {
        a{
          padding: 0 3px;
        }
      }
    }
  }
}
.list-category {
  ul li {
    .item {
      .image{
        height: 142px;
      }
    }
  }
}
.slider-home {
    height: 136px;
}
.page-single-content .nav-tabs li.active a, .page-single-content .nav-tabs li a{
  font-size: 10px;
}