footer {
  .footer-top {
    div.col-sm-3{
      text-align: center;
    }
    .icon-text{
      float: none;
    }
    .icon-logo{
      float: none;
      display: inline-block;
    }
  }
}
ul.menu-left {
  li{
    &:hover {
      .menu-item{
        width: 563px;
        .list-cate{
          width: 100%;
        }
      }
    }
  }
}
ul.menu-left {
  li{
    height: 30px;
    line-height: 30px;
    a{
      span.icon{
        font-size: 13px;
      }
    }
  }
}
ul.menu-left {
  li{
    &:hover{
      a{
        &:after{
          border-left: 16px solid #ff6600;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
        }
      }
    }
  }
}


ul.menu-left {
  li{
    &:hover {
      .menu-item {
        height: 340px;
        top: -31px;
        .list-cate {
          padding: 10px 10px 10px 30px;
          .list-item {
            ul {
              li {
                height: 25px;
                line-height: 25px;
              }
            }
          }
        }
      }
      .menu-item.item-tablet{
        height: 302px;
        .list-cate {
          width: 70%;
          .list-item{
            width: 50%;
          }
        }
        .list-ads{
          width: 30%;
        }
      }
    }
  }
}


#menu {
  h2{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
  }
}
.list-category {
  ul li {
    .item {
      .image{
        height: 227px;
      }
    }
  }
}
.slider-home{
  height: 245px;
}

header {
  .menu-news {
    ul {
      li {
        a{
          padding: 5px 9px 5px 0;
        }
      }
    }
  }
}
.login {
  a{
    font-size: 11px;
  }
}
.backtotop{
  bottom: 60px;
  right: 20px;
}
.email-subscribers{
  font-size: 12px;
}
.frame,
#gallery_01{
  width: 50px;
}

