footer {
  .footer-top {
    div.col-sm-3{
      text-align: center;
    }
    .icon-text{
      float: none;
    }
    .icon-logo{
      float: none;
      display: inline-block;
    }
  }
}
ul.menu-left {
  li{
    &:hover {
      .menu-item{
        width: 563px;
        .list-cate{
          width: 100%;
        }
      }
    }
  }
}
ul.menu-left {
  li{
    height: 30px;
    line-height: 30px;
    a{
      span.icon{
        font-size: 13px;
      }
    }
  }
}
#menu {
  h2{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
  }
}
.list-category {
  ul li {
    .item {
      .image{
        height: 227px;
      }
    }
  }
}
.slider-home{
  height: 245px;
}

