ul.menu-left {
  li{
    &:hover {
      .menu-item{
        width: 728px;
        .list-cate{
          width: 100%;
        }
      }
    }
  }
}
ul.menu-left {
  li{
    height: 33px;
    line-height: 33px;
    a{
      span.icon{
        font-size: 15px;
      }
    }
  }
}
#menu {
  h2{
    height: 36px;
    line-height: 36px;
  }
}
.list-category {
  ul li {
    .item {
      .image{
        height: 225px;
      }
    }
  }
}
.slider-home{
  height: 320px;
}