.detail-page{
  h1{
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .price-detail{
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 10px;
    padding-top: 10px;
    div{
      display: inline-block;
    }
    p.cost{
      font-size: 28px;
      color: red;
      font-weight: bold;
      var{
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        position: relative;
        top: -15px;
      }
      
    }
    p.old{
      font-size: 18px;
      display: inline-block;
      text-decoration: line-through;
    }
    p.sale{
      display: inline-block;
      vertical-align: top;
      position: relative;
      span{
        background: red;
        color: #FFF;
        @include border-radius(5px);
        padding: 3px 15px;
        text-align: center;
        font-weight: normal;
        font-size: 18px;
        position: relative;
        margin-left: 10px;
        top: 4px;
        &:before{
          content: " ";
          border-right: 12px solid red;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          position: absolute;
          left: -10px;
          top:  6px;
        }
      }
    }
    
  }
  .description{
    padding: 10px 0;
    text-align: justify;
  }
  .item-list-option{
    padding: 10px 0;
    border-bottom: 1px solid #F1F1F1;
    display: inline-block;
    width: 100%;
    .list-op{
      width: 49%;
      margin-right: 1%;
      float: left;
    }
    .label{
      color: #000;
      font-size: 14px;
      padding: 0;
      display: inline-block;
    }
    .form-control{
      width: 170px;
      @include border-radius(0);
      @include box-shadow(none);
      display: inline-block;
      float: left;
    }
    a{
      float: left;
    }
  }
  .quantity{
    padding-bottom: 10px;
    padding-top: 10px;
    input{
      width: 100px;
      height: 30px;
      max-width: 100%;
    }
  }
  .single_add_to_cart_button{
    background: $color-default;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    @include border-radius(5px);
    &:hover{
      background: red;
    }
  }
  .single_variation_wrap{
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 10px;
  }
  .share-post{
    padding: 10px 0;
    border-bottom: 1px solid #F1F1F1;
  }
}
.related{
  h2{
    border-bottom: 3px solid #ff0000;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
.title-detail-content{
  border-bottom: 3px solid $color-default;
  h4,
  h3{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
  }
  h3{
    &:before{
      content: " ";
      position: absolute;
      border-bottom: 5px solid $color-default;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      right: 50%;
      bottom: 0;
    }
  }
  h4{
    margin-left: 30px;
  }
}
.page-single-content{
  margin-top: 30px;
  img{
    max-width: 100%;
  }
  table{
    max-width: 100%;
  }
  iframe{
    max-width: 100%;
  }
}
.content-single{
  padding: 15px 0;
}
.breadcrumb-detail{
  border-bottom: 2px solid $color-default;
  margin: 15px 0;
}
.views-detail{
  cursor: pointer;
  font-style: italic;
  display: inline-block;
}