.detail-page{
  h1{
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .price-detail{
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 10px;
    padding-top: 10px;
    div{
      display: inline-block;
      font-size: 28px;
      color: red;
      font-weight: bold;
    }
    p.cost{
      font-size: 28px;
      color: red;
      font-weight: bold;
      var{
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        position: relative;
        top: -15px;
      }
      
    }
    p.old{
      font-size: 18px;
      display: inline-block;
      text-decoration: line-through;
      color: #8C8787;
      font-weight: normal;
    }
    p.sale{
      display: inline-block;
      vertical-align: top;
      position: relative;
      span{
        background: red;
        color: #FFF;
        @include border-radius(5px);
        padding: 3px 15px;
        text-align: center;
        font-weight: normal;
        font-size: 18px;
        position: relative;
        margin-left: 10px;
        top: 4px;
        &:before{
          content: " ";
          border-right: 12px solid red;
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
          position: absolute;
          left: -10px;
          top:  6px;
        }
      }
    }
    
  }
  .description{
    padding: 10px 0;
    text-align: justify;
  }
  .item-list-option{
    padding: 10px 0;
    border-bottom: 1px solid #F1F1F1;
    display: inline-block;
    width: 100%;
    .list-op{
      width: 49%;
      margin-right: 1%;
      float: left;
    }
    .label{
      color: #000;
      font-size: 14px;
      padding: 0;
      display: inline-block;
    }
    .form-control{
      width: 170px;
      @include border-radius(0);
      @include box-shadow(none);
      display: inline-block;
      float: left;
    }
    a{
      float: left;
    }
  }
  .quantity{
    padding-bottom: 10px;
    padding-top: 10px;
    input{
      width: 100px;
      height: 30px;
      max-width: 100%;
    }
  }
  .single_add_to_cart_button{
    background: $color-default;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    @include border-radius(5px);
    &:hover{
      background: #86B72B;
    }
  }
  .single_variation_wrap{
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 10px;
  }
  .share-post{
    padding: 10px 0;
    border-bottom: 1px solid #F1F1F1;
  }
}
.related{
  h2{
    border-bottom: 3px solid #ff0000;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 30px;
  }
}
.title-detail-content{
  border-bottom: 3px solid $color-default;
  h4,
  h3{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
  }
  h3{
    &:before{
      content: " ";
      position: absolute;
      border-bottom: 5px solid $color-default;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      right: 50%;
      bottom: 0;
    }
  }
  h4{
    margin-left: 30px;
  }
}
.page-single-content{
  margin-top: 30px;
  margin-bottom: 15px;
  img{
    max-width: 100%;
  }
  table{
    max-width: 100%;
  }
  iframe{
    max-width: 100%;
  }
}
.content-single{
  padding: 15px 0;
}
.breadcrumb-detail{
  border-bottom: 2px solid $color-default;
  margin: 15px 0;
}
.views-detail{
  cursor: pointer;
  font-style: italic;
  display: inline-block;
}
.page-single-content{
  .nav-tabs{
    border-bottom: 2px solid $color-default;
    li.active,
    li{
      margin-bottom: 0;
      a{
        border: none;
        border-radius: 0;
        font-weight: bold;
        position: relative;
        padding: 10px 15px 10px 0;
        &:hover,
        &:focus,
        &:active{
          border: none;
          border-radius: 0;
          background: transparent;
        }
      }
    }
    li.active{
      a{
        &:before{
          content: " ";
          position: absolute;
          border-bottom: 5px solid #7dad23;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          right: 50%;
          bottom: 0;
        }
      }
    }
  }
}
.tab-content{
  .tab-pane{
    margin-top: 15px;
  }
}
.elevatezoom-gallery{
  border: 1px solid #DDD;
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
}
.elevatezoom-gallery.active{
  border-color: $color-default;
}
div.images{
  position: relative;
  margin-top: 25px;
  border: 1px solid #DDD;
}
#gallery_01{
  height: 395px;
  overflow: hidden;
  position: relative;
  width: 65px;
  padding: 25px 0;
  .controls{
    position: absolute;
    z-index: 9;
    width: 65px;
    display: inline-block;
    top: 0;
    a{
      display: inline-block;
      width: 65px;
      cursor: pointer;
    }
    a.nextPage.disabled,
    a.prevPage.disabled{
      visibility: hidden;
    }
  }
  .bottom-control{
    bottom: 0;
    top: auto;
  }
}
.trademark{
  margin-bottom: 5px;
  a{
    color: $color-default;
  }
}

.frame {
	width: 65px;
	height: 346px;
/*	overflow: hidden;
  display: block;*/
  .slidee {
    padding: 20px 25px;
    background: #fff;
    ul.items {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      font-size: 24px;
      line-height: 100px;
      li {
        float: left;
        width: 100%;
        height: 100px;
        margin: 0 0 1px;
        padding: 0;
        background: #333;
        color: #ddd;
        text-align: center;
        cursor: pointer;
      }
      li.active {
        color: #fff;
        background: #a03232;
      }
    }
  }
}

/* Scrollbar */
.scrollbar {
	position: absolute;
	right: 10px;
	width: 2px;
	height: 600px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100%;
	height: 100px;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: -10px;
	width: 22px;
	height: 100%;
}

/* Controls */
.controls { 
  margin: 0 0; 
  text-align: center;
  font-size: 18px;
}
.interest{
  .list-category{
    padding: 0 15px 0 30px;
    position: relative;
    li{
      width: 100%;
    }
    .owl-buttons{
      div{
        position: absolute;
        top: 40%;
      }
      div.owl-prev{
        left: -30px;
      }
      div.owl-next{
        right: -30px;
      }
    }
  }
  
}
.title-interest{
  border-bottom: 2px solid $color-default;
  padding-bottom: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}
a.remove{
  font-size: 20px;
}
.countdown{
  .woocommerce-tabs{
    margin: 0;
    padding: 0;
    border: none;
  }
  .counter-group{
    margin: 5px 0;
  }
}