footer{
  .footer-top{
    background: $color-default;
    padding: 30px 0;
    .icon-logo{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #FFF;
      float: left;
    }
    .icon-text{
      float: left;
      padding-top: 20px;
      padding-left: 10px;
      h2{
        font-size: 16px;
        color: #FFF;
      }
      p{
        font-size: 18px;
        text-transform: uppercase;
        color: #FFF;
        padding-top: 5px;
      }
    }
  }
  .footer-page{
    h2{
      font-size: 16px;
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    ul{
      line-height: 22px;
      li{
        a{
          &:hover{
            color: $color-default;
          }
        }
      }
    }
    ul.connect{
      li{
        display: inline-block;
        a{
          font-size: 31px;
          padding-right: 10px;
        }
      }
    }
  }
  .coppyright{
    background: #f5f5f5;
    border-top: 1px solid #DDD;
    margin-top: 15px;
    p{
      text-align: center;
      padding: 10px;
    }
  }
}
.support{
  position: fixed;
  bottom: 0;
  right: 0;
  background: #FF4606;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #FFF;
  padding: 10px 15px;
  p{
    span{
      font-weight: bold;
      font-size: 20px;
      margin-left: 5px;
      position: relative;
      top: 3px;
    }
  }
}