header{
  background: #232f3e;
  height: 92px;
  border-bottom: 2px solid $color-default;
  .form{
    padding-top: 10px;
    input{
      border-radius: 0;
      border: 0;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      outline: none;
      display: table-cell;
    }
    .form-control:focus{
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      outline: none;
    }
    .form-submit{
      width: 40px;
      height: 40px;
      background: #ff0000;
      display: inline-block;
    }
    span.input-group-btn{
      .btn.btn-default{
        background: #ff0000;
        border-color: #ff0000;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        outline: none;
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: #FFF;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    div.input-group-btn{
      .btn-default{
        background: #c3c3c3;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        outline: none;
      }
      
    }
  }
  .shoppingcart{
    color: #FFF;
    text-align: right;
    padding-top: 25px;
    position: relative;
    span{
      font-size: 32px;
      position: relative;
      .shoping-number{
        background: red;
        padding: 0px 10px;
        position: absolute;
        display: inline-block;
        top: -17px;
        left: 13px;
        font-size: 12px;
        border-radius: 3px;
        &:before{
          content: " ";
          width: 0;
          height: 0;
          border-top: 5px solid red;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          position: absolute;
          bottom: -5px;
          left: 2px;
        }
      }
    }
    a{
        color: #FFF;
      }
  }
  .menu-news{
      ul{
        li{
          display: inline-block;
          a{
            padding: 5px 15px 5px 0;
            color: #FFF;
            &:hover{
              color: red;
            }
          }
          &:last-child{
            a{
              color: red;
            }
          }
        }
      }
    }
}
#menu{
  h2{
    text-transform: uppercase;
    background: $color-default;
    font-size: 18px;
    color: #FFF;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    i{
      font-size: 21px;
    }
  }
}
ul.menu-left{
    border: 1px solid $color-border;
    position: relative;
    li{
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid $color-border;
      a{
        display: block;
        position: relative;
        span.icon{
          color: #232f3e;
          font-size: 18px;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      .menu-item{
        display: none;
      }
      &:hover{
        background: #ff6600;
        a{
          color: #FFF;
          &:after{
            content: " ";
            width: 0;
            height: 0;
            border-left: 16px solid #ff6600;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            position: absolute;
            right: -16px;
            top: 0;
            z-index: 999;
          }
        }
        .menu-item{
          width: 880px;
          height: 402px;
          border: 1px solid #ff6600;
          position: absolute;
          left: 100%;
          top: -41px;
          display: block;
          z-index: 9;
          background: #FFF;
          .list-cate{
            width: 65%;
            float: left;
            padding: 20px 10px 20px 30px;
            .list-item{
              width: 33.3333333333%;
              float: left;
              padding-right: 10px;
              box-sizing: border-box;
              min-height: 1px;
              h4{
                a{
                  color: #ff6600;
                  &:after{
                    border: none;
                  }
                }
              }
              ul{
                border: none;
                display: block;
                li{
                  border-bottom: none;
                  height: 30px;
                  line-height: 30px;
                  a{
                    color: #000;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    &:after{
                      border: none;
                    }
                    &:hover{
                      color: $color-default;
                    }
                  }
                  &:hover{
                    background: none;
                  }
                }
              }
            }
          }
          .list-ads{
            width: 35%;
            float: left;
            padding: 20px 10px 10px 15px;
            text-align: right;
            a{
              &:after{
                border: 0;
              }
            }
          }
        }
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
  
.slider-home{
  margin-top: 16px;
  position: relative;
  height: 386px;
  overflow: hidden;
}

.list-category{
  ul{
    li{
      .item{
        position: relative;
        a.full-link{
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 9;
        }
        border: 1px solid #DDD;
        margin-bottom: 16px;
        .image{
          position:relative;
          img{
            height: 275px;
          }
          span{
            position: absolute;
            top: 5px;
            left: 5px;
            @include border-radius(50%);
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: red;
            color: #FFF;
          }
          a{
            position: absolute;
            top: 0;
            display: none;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 80px;
            height: 30px;
            background: $color-default;
            @include border-radius(5px);
            color: #FFF;
            text-align: center;
            line-height: 30px;
          }
        }
        .title{
          padding-left: 10px;
          padding-right: 10px;
          margin-top: 5px;
          p{
            height: 40px;
            line-height: 20px;
            border-bottom: 1px solid #DDD;
            overflow: hidden;
          }
        }
        .price{
          padding-left: 10px;
          padding-right: 10px;
          margin-top: 10px;
          height: 45px;
          overflow: hidden;
          position:relative;
          font-size: 20px;
          color: red;
          font-weight: bold;
          p.cost{
            font-size: 20px;
            color: red;
            font-weight: bold;
            span{
              position: relative;
              top: -7px;
              font-size: 14px;
            }
          }
          p.old{
            text-decoration: line-through;
            color: #878787;
            width: 100%;
            font-size: 14px;
            font-weight: normal;
            var{
              font-style: normal;
            }
            span{
              float: right;
            }
          }
          p.views{
            position: absolute;
            right: 10px;
            bottom: 5px;
            font-size: 14px;
            font-weight: normal;
            color: #000;
          }
        }
      }
      &:hover{
        .item{
          border-color: $color-default;;
          .image{
            a{
              display: block;
            }
          }
        }
      }
    }
  }
}
.page-home-title{
  border-bottom: 2px solid $color-default;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #f5f5f5;
    float: left;
  width: 100%;
  .page-title{
    display: inline-block;
    float: left;
    h2{
      text-transform: uppercase;
      color: #FFF;
      background: $color-default;
      padding: 10px 15px;
      display: inline-block;
      font-size: 16px;
    }
  }
  a.all{
    padding: 10px;
  }
  .tabs-home{
    display: inline-block;
    float: left;
    ul{
      margin: 0;
      padding: 0;
      border: none;
      li{
        margin-bottom: 0;
        border: none;
        a{
          border-radius: 0;
          border: none;
          cursor: pointer;
          text-transform: uppercase;
          &:focus,
          &:hover{
            background: transparent;
            border: none;
          }
        }
      }
      li.home-tabs-default{
        height: 40px;
        line-height: 40px;
        a{
          background: $color-default;
          color: #FFF;
          padding: 0 15px;
          height: 40px;
          line-height: 40px;
          span{
            font-size: 20px;
            position: relative;
            top: 3px;
            padding-right: 5px;
          }
        }
      }
      li.active{
        border: none;
        a{
          border: none;
          &:focus,
          &:hover{
            border: none;
          }
        }
      }
      li.tab-list{
        &:hover{
          a{
            background: #e6e6e6;
            position: relative;
            &:before{
              content: " ";
              border-bottom: 8px solid $color-default;;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              position: absolute;
              left: 47%;
              bottom: 0;
            }
          }
        }
      }
      li.tab-list.active{
        a{
          &:before{
            content: " ";
            border-bottom: 8px solid $color-default;;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            left: 47%;
            bottom: 0;
          }
        }
      }
    }
  }
}
.header-sroll{
  height: 50px;
  position: absolute;
  width: 100%;
  top: -200px;
  h2{
    color: #FFF;
    height: 50px;
    line-height: 50px;
    background: #7DAD23;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 16px;
    i{
      font-size: 25px;
      position: relative;
      top: 3px;
    }
  }
  .form {
    padding-top: 5px;
  }
  .shoppingcart {
    padding-top: 17px;
    span {
      font-size: 24px;
    }
  }
}

.menu-scroll{
  position: fixed;
  top: 50px;
  left: 0;
  opacity: .7;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}
.header-sroll{
  ul.menu-left {
    background: #FFF;
    li{
      &:hover{
        .menu-item{
          top: -1px;
          height: 362px;
          img{
            max-height: 340px;
          }
        }
      }
    }
  }
}

.header-navigation{
  ul.menu-left{
    z-index: 999;
    display: none;
  }
  h2{
    cursor: pointer;
  }
  &:hover{
    ul.menu-left{
      display: block;
    }
  }
}
.fix{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    transition: top 0.5s ease;
    
}

.hentry{
  header.entry-header{
    background: #FFF;
    border-bottom: 2px solid #e24545;
    height: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    h1{
      font-size: 16px;
      display: inline-block;
      border-bottom: 2px solid $color-default;
      position: relative;
      bottom: -2px;
      padding-bottom: 4px;
      width: 100%;
    }
  }
}
.cart-empty{
  min-height: 200px;
  line-height: 200px;
  font-size: 22px;
  text-align: center;
  color: #DDD;
}
.return-to-shop{
  text-align: right;
  margin: 15px 0;
  a{
    background: none;
    color: #000;
    &:hover{
      background: none;
      color: #000;
    }
  }
}
.entry-content{
  table.cart {
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    width: 100%;
    border: 1px solid #DDD;
    margin-top: 15px;
    thead{
      background: #f5f5f5;
      
      text-indent: 0;
      th{
        padding: 10px 0;
      }
      .product-thumbnail{
        display: block;
      }
    }
    tbody{
      .product-thumbnail{
        display: block;
        img{
          max-width: 100px;
        }
      }
      tr{
        border-top: 1px solid #DDD;
        .coupon{
          #coupon_code{
            height: 40px;
            border: 1px solid #232f3e;
            float: left;
          }
          .button{
            height: 40px;
            padding: 0 5px;
            border: none;
          }
        }
        .button[name='update_cart']{
          background: #232f3e;
          @include border-radius(5px);
          height: 40px;
          text-align: center;
          padding: 0 30px;
        }
      }
      
    }
  }
}
.cart-collaterals{
  .cart_totals {
    h2{
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      border-bottom: 3px solid #e24545;
      padding-bottom: 5px;
    }
    table{
      width: 100%;
      tr{
        height: 60px;
        border-bottom: 1px solid #f5f5f5;
      }
    }
    .wc-proceed-to-checkout{
      text-align: right;
      a{
        display: inline-block;
        @include border-radius(5px);
        background: #e24545;
        padding: 10px 30px;
        margin-top: 15px;
      }
    }
  }
}
.entry-content{
  background: #FFF;
  margin-bottom: 15px;
  #order_review_heading{
    background: #f5f5f5;
    border-top: 1px solid DDD;
    border-right: 1px solid DDD;
    border-bottom: 1px solid DDD;
  }
  #order_review_heading,
  #order_review{
    padding: 10px;
    border: 1px solid #DDD;
    background: #FFF;
    float: left;
  }
  #order_review{
    .shop_table{
      width: 100%;
      tbody{
        tr{
          border-top: 1px solid #DDD;
          td{
            padding: 10px 0;
          }
          .product-total{
            text-align: right;
          }
        }
      }
      thead{
        .product-total{
          width: 50%;
          text-align: right;
        }
      }
      tfoot{
        tr{
          border-top: 1px solid #DDD;
          th{
            padding: 10px;
          }
        }
        tr.order-total,
        tr.cart-subtotal{
          td{
            text-align: right;
          }
        }
        tr.shipping{
          td{
            padding: 5px 0;
          }
        }
      }
    }
    #place_order{
      background: #e24545;
      padding: 10px 0;
      border: none;
      @include border-radius(5px);
    }
  }
}
#customer_details{
  
  .col-1{
    float: left;
    border: 1px solid #DDD;
    width: 100%;
    h3{
      background: #f5f5f5;
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
      border-bottom: 1px solid #DDD;
    }
    p{
      padding: 10px;
      input{
        height: 40px;
      }
      input[name='createaccount']{
        height: auto;
      }
    }
    .select2-container{
      width: 50% !important;
    }
    .country_select{
      height: 35px;
      line-height: 35px;
    }
  }
  .col-2{
    float: left;
    width: 100%;
    h3{
      border-bottom: 2px solid #DDD;
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
    #order_comments{
      height: 200px;
    }
    .shipping_address{
      p{
        input{
          height: 40px;
        }
      }
      .select2-container{
        width: 50% !important;
      }
      .country_select{
        height: 35px;
        line-height: 35px;
      }
    }
  }
}
.checkout_coupon{
  width: 100%;
  float: left;
  .form-row-first{
    margin-right: 0;
  }
  input[name='coupon_code']{
    height: 35px;
  }
  .form-row-last{
    float: left;
  }
  input[name='apply_coupon']{
    height: 35px;
    border: none;
    float: left;
    padding: 0 10px;
  }
}
.form-row.woocommerce-invalid input.input-text,
.form-row.woocommerce-validated input.input-text{
  box-shadow: none !important;
  border-color: #e24545;
}
.col2-set {
  width: 54.9411764706% !important;
  margin-right: 3.8823529412% !important;
}
.form-row{
  margin-bottom: 15px;
}
#ship-to-different-address{
  .checkbox{
    display: inline-block;
  }
}
.type-page.status-publish.hentry{
  .woocommerce{
    table{
      width: 100%;
    }
    h2{
      border-bottom: 2px solid $color-default;
      font-size: 16px;
      font-weight: bold;
      margin-top: 15px;
      padding-bottom: 5px;
    }
    .shop_table.order_details{
      thead{
        th{
          height: 30px;
          line-height: 30px;
          border-bottom: 1px solid #f5f5f5;
        }
      }
      tbody{
        .order_item{
          border-bottom: 1px solid #f5f5f5;
          height: 30px;
          line-height: 30px;
        }
      }
      tfoot{
        td,
        th{
          height: 30px;
          line-height: 30px;
          border-bottom: 1px solid #f5f5f5;
        }
      }
    }
  }
  header{
    height: auto;
    background: transparent;
    border-bottom: none;
    
  }
  header.title{
    h3{
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 3px;
      border-bottom: 2px solid $color-default;
      margin-top: 15px;
    }
  }
  .shop_table.customer_details{
    width: 100%;
    tr{
      border-bottom: 1px solid #f5f5f5;
      td{
        height: 30px;
      }
    }
  }
}
