.list-category{
  h2,
  h1{
    border-bottom: 2px solid $color-default;
    font-size: 16px;
    padding-bottom: 5px;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}
.emty-data{
  text-align: center;
  color: #DDD;
  line-height: 100px;
}
.owl-carousel-item-imgoverlay{
  display: none;
}
.slider-home{
  .owl-controls{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.free-shipping{
  td{
    padding: 5px;
    background: $color-default;
    color: #FFF;
  }
}
.hot-category{
  li.product{
    .ob_wrapper{
      .ob_discount{
        display: none;
      }
      span{
        display: none;
      }
    }
  }
  .hot-countdown{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: #f5f5f5;
    display: none;
    .ob_shortcode.woocommerce {
      ul.products {
        li.product{
          margin: 0;
          .counter-group{
            margin: 0;
          }
          .shortcode_products{
            .product{
              margin: 0;
            }
          }
        }
      }
    }
    .ob_wrapper{
      padding: 5px 0 0 0;
    }
  }
}
.page-title{
  .pull-right{
    font-style: normal;
    font-weight: normal;
  }
}
.detail-content-popup{
  .modal-dialog{
    margin-top: 60px;
  }
  .modal-content{
    .custom-field-popup{
      padding-bottom: 5px;
      border-bottom: 1px solid #DDD;
    }
    .custom-field-popup{
      color: #FF4606;
      font-size: 16px;
    }
  }
}
.loading{
  position: fixed;
  top: 0;
  background: rgba(0,0,0,.4);
  width: 100%;
  height: 100%;
  z-index: 99;
  padding-top: 50px;
  text-align: center;
  display: none;
}
.list-silver{
  h2{
    font-weight: normal;
    font-size: 14px;
  }
}
.footer-page{
  a{
    &:hover{
      color: $color-default;
    }
  }
}
.admin-bar {
  .woocommerce-checkout {
    .payment-fixed{
      margin-left: 0 !important;
      top: auto !important;
      width: 41.1764705882% !important;
      position: relative !important;
    }
  }
}
.filter-category{
  background: #f5f5f5;
  @include border-radius(3px);
  padding: 5px;
  h3{
    font-size: 13px;
    font-weight: bold;
  }
  ul{
    margin-bottom: 10px;
    margin-top: 10px;
    li{
      span{
        font-weight: normal;
        font-size: 13px;
      }
    }
  }
  ul.color{
    li{
      display: inline-block;
      input[type='checkbox']{
        display: none;
      }
      label{
        width: 22px;
        height: 22px;
        cursor: pointer;
        border: 1px solid transparent;
        &:hover{
          border-color: $color-default;
        }
      }
    }
    li#color-276{
      label{
        border-color: $color-default;
      }
    }
    li#color-206{
      label{
        background: url('../images/bac.png') no-repeat !important;
      }
    }
    li#color-254{
      label{
        background: url('../images/nhieu-mau.png') no-repeat !important;
      }
    }
    li#color-351{
      label{
        background: url('../images/gold.png') no-repeat !important;
      }
    }
    li#color-187{
      label{
        background: url('../images/vang-hong.png') no-repeat !important;
      }
    }
    li#color-254{
      label{
        background: url('../images/nhieu-mau.png') no-repeat !important;
      }
    }
  }
}

.post-related{
  .title-details{
    margin-top: 15px;
    border-bottom: 2px solid #DDD;
  }
  ul{
    display: inline-block;
    width: 100%;
    li{
      display: inline-block;
      width: 100%;
      margin-bottom: 20px !important;
      a.img{
        width: 30%;
        display: inline-block;
        vertical-align: top;
        padding: 5px;
        float: left;
        margin-right: 0px;
      }
      .relate{
        width: 70%;
        float: left;
      }
      a.title{
        font-weight: bold;
        width: auto;
        text-transform: initial;
      }
      border-bottom: 1px solid #DDD;
      &:last-child{
        border-bottom: none;
      }
    }
  }
}
.email-subscribers{
  .emails{
    border-bottom: 1px solid #DDD;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
  }
  ul.subscribers{
    li{
      display: inline-block;
      img{
        width: 32px;
        vertical-align: text-bottom;
      }
      font-weight: bold;
    }
  }
  .es_textbox{
    width: 70%;
    float: left;
    padding: 0;
    margin: 0;
  }
  .es_button{
    width: 30%;
    float: left;
    padding: 0;
    margin: 0;
    
  }
  .es_textbox{
    input{
      width: 100%;
      height: 30px;
      border: 1px solid #FF4406;
      padding: 0 5px;
    }
  }
  .es_button{
    input{
      height: 30px;
      width: 60px;
      border: 1px solid #FF4406;
      background: #FF4406;
      color: #FFF;
      &:hover{
        color: #000;
      }
    }
  }
}

.backtotop {
  background: rgba(0,0,0, 0.5);
  width: 45px;
  bottom: 35px;
  right: 12px;
  min-height: 42px;
  overflow: hidden;
  z-index: 40;
  position: fixed;
  display: block;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.backtotop.hidden-top {
  bottom: -100px;
}
.backtotop i {
  font-size: 36px;
  margin: 1px 0 0 0 !important;
  color: #fff;
  display: inline-block;
}
.backtotop:hover {
  background-color: #ff6825;
}
.list-news{
  ul{
    margin-top: 15px;
    li{
      margin-bottom: 30px;
      .item-new{
        width: 100%;
        display: inline-block;
      }
    }
  }
  h1{
    font-size: 16px;
    font-weight: normal;
    border-bottom: 2px solid $color-default;
    text-transform: uppercase;
    margin-top: 15px;
  }
  .img{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    float: left;
    margin-right: 5px;
  }
  a.title{
    font-weight: bold;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    &:hover{
      color: $color-default;
    }
  }
  .author{
    color: #969191;
  }
  a.readmore{
    font-style: italic;
    float: right;
    &:hover{
      color: $color-default;
    }
  }
}
.detail-news{
  h1{
    margin-bottom: 15px;
    font-weight: bold;
  }
  .content-new{
    p{
      line-height: 24px;
      margin-bottom: 10px;
      text-align: justify;
    }
  }
}

#slider-range, #slider-range2 {
  margin-top:10px;
}

.filter-category{
  #amount{
    width: 100%;
    background: #f5f5f5;
    border:0; 
    color:#f6931f; 
    margin-bottom: 10px;
    border-bottom: 1px solid;
    margin-top: 10px;
    font-size: 12px;
  }
  .filter-range{
    padding: 0 10px;
  }
  .ui-widget-content{
    background: #7DAD23;
    border: none;
    height: 5px;
    @include border-radius(5px);
    .ui-state-default, 
    .ui-widget-content .ui-state-default, 
    .ui-widget-header .ui-state-default{
      background: #FF4606;
      border: none;
      @include border-radius(50%);
      width: 15px;
      height: 15px;
      outline: none;
    }
  }
}
#payment {
  .payment_methods {
    li {
      p{
        text-align: justify;
      }
    }
  }
}


